<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="6.0">
  <display-name>SignUp</display-name>
  <welcome-file-list>
    <welcome-file>registration.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>SignUp</display-name>
    <servlet-name>SignUp</servlet-name>
    <servlet-class>com.register.SignUp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignUp</servlet-name>
    <url-pattern>/SignUp</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegistrationServlet</display-name>
    <servlet-name>RegistrationServlet</servlet-name>
    <servlet-class>com.signUp.register.RegistrationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegistrationServlet</servlet-name>
    <url-pattern>/RegistrationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogIn</display-name>
    <servlet-name>LogIn</servlet-name>
    <servlet-class>com.signUp.register.LogIn</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogIn</servlet-name>
    <url-pattern>/LogIn</url-pattern>
  </servlet-mapping>
</web-app>